{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Cast & Crew</title>
	<style type="text/css">

		img
		{
			border:3px solid black;
      		border-radius:50%;
		}

		#p1
  		{
  			font-size:37px;
      		font-family:vardana;
      		color:white;
  		}

  		#p2
  		{
  			font-size:17px;
      		font-family:vardana;
      		color:white;
  		}

  		#CREW
  		{
  			font-size:37px;
      		font-family:vardana;
      		color:white;
  		}

  		a:visited
  		{
  			color:red;
  		}

	a:hover
	{
		color:white;
	}

	</style>
</head>
<body bgcolor="black">
<pre>
<p align="right" style="font-family:vardana;"><a href="/htmlpro/home"><b>Home</b></a> </p>
<p align="center" id="p1"><b>CAST</b><hr></p>

<p align='center' id="p2"><a href='/htmlpro/got'><b>ABOUT</b></a>             <b>SEASONS: </b><select>
														<option>--Select--</option>     
														<optgroup label='Season 1'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 2'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 3'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 4'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 5'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 6'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 7'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
														</optgroup>
														<optgroup label='Season 8'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
														</optgroup>
														</select>             <a href="#CREW"><b>CREW</b></a>
														



<a href="#SEASON 1"><b>SEASON 1</b></a>                      <a href="#SEASON 2"><b>SEASON 2</b></a>                    <a href="#SEASON 3"><b>SEASON 3</b></a>                      <a href="#SEASON 4"><b>SEASON 4</b></a>                      <a href="#SEASON 5"><b>SEASON 5</b></a>                      <a href="#SEASON 6"><b>SEASON 6</b></a>                      <a href="#SEASON 7"><b>SEASON 7</b></a> </p>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 1'>SEASON  1<hr></p></h2>	




<p align="center" style="color:white;">Eddard Stark                   Jaime Lannister                   Robert Baratheon                   Daenerys Targaryen                   Tyrion Lannister</p>
<p align="center"><img src="{% static 'images/ned.jpeg' %}" title='Sean Bean' height="110" width="110"/>                   <img src="{% static 'images/jaime.jpeg' %}" title='Nikolaj Coster-Waldau' height="110" width="110"/>                   <img src="{% static 'images/robert.jpeg' %}" title='Mark Addy' height="110" width="110"/>                   <img src="{% static 'images/daenerys.jpeg' %}" title='Emilia Clarke' height="110" width="110"/>                   <img src="{% static 'images/tyrion.jpeg' %}" title='Peter Dinklage' height="110" width="110"/></p>
 



<p align="center" style="color:white;">Jon Snow                   Cersei Lannister                   Robb Stark                   Catelyn Stark                   Sansa Stark</p>
<p align="center"><img src="{% static 'images/jon.jpeg' %}" title='Kit Harington' height="110" width="110"/>                   <img src="{% static 'images/cersei.jpeg' %}" title='Lena Headey' height="110" width="110"/>                   <img src="{% static 'images/robb.jpeg' %}" title='Richard Madden' height="110" width="110"/>                   <img src="{% static 'images/catelyn.jpeg' %}" title='Michelle Fairly' height="110" width="110"/>                   <img src="{% static 'images/sansa.jpeg' %}" title='Sophie Turner' height="110" width="110"/> </p>




<p align="center" style="color:white;">Arya Stark                   Bran Stark                   Rickon Stark                   Joffrey Baratheon                   Viserys Targaryen</p>
<p align="center"><img src="{% static 'images/arya.jpeg' %}" title='Maisie Williams' height="110" width="110"/>                   <img src="{% static 'images/bran.jpeg' %}" title='Issac Hempstead-Wright' height="110" width="110"/>                    <img src="{% static 'images/rickon.jpeg' %}" title='Art Parkinson' height=110 width=110/>                   <img src="{% static 'images/joffrey.jpeg' %}" title='Jack Gleeson' height="110" width="110"/>                   <img src="{% static 'images/viserys.jpeg' %}" title='Harry Lloyd' height="110" width="110"/></p>




<p align="center" style="color:white;">Lord Varys                   Theon Greyjoy                   Shae                   Sandor Clegane                   Samwell Tarly</p>
<p align="center"><img src="{% static 'images/varys.jpeg' %}" title='Conleth Hill' height="110" width="110"/>                   <img src="{% static 'images/theon.jpeg' %}" title='Alfie Allen' height="110" width="110"/>                   <img src="{% static 'images/shae.jpeg' %}" title='Sibel Kekilli' height="110" width="110"/>                   <img src="{% static 'images/sandor.jpeg' %}" title='Rory McCann' height="110" width="110"/>                   <img src="{% static 'images/sam.jpeg' %}" title='John Bradley' height="110" width="110"/></p>




<p align="center" style="color:white;">Ros                   Robin Arryn                   Renly Baratheon                   Grand Maester Pycelle                   Petyr Baelish</p>
<p align="center"><img src="{% static 'images/ros.jpeg' %}" title='Esme Bianco' height="110" width="110"/>                  <img src="{% static 'images/robin.jpeg' %}" title='Lino Facioli' height="110" width="110"/>                  <img src="{% static 'images/renly.jpeg' %}" title='Gethin Anthony' height="110" width="110"/>                  <img src="{% static 'images/pycelle.jpeg' %}" title='Julian Glover' height="110" width="110"/>                  <img src="{% static 'images/petyr.jpeg' %}" title='Aidan Gillen' height="110" width="110"/></p>                   




<p align="center" style="color:white;">Osha                   Lysa Arryn                   Maester Luwin                   Loras Tyrell                   Lancel Lannister</p>                   
<p align="center"><img src="{% static 'images/osha.jpeg' %}" title='Natalia Tena' height="110" width="110">                   <img src="{% static 'images/lysa.jpeg' %}" title='Kate Dickie' height="110" width="110">                   <img src="{% static 'images/luwin.jpeg' %}" title='Donald Sumpter' height="110" width="110">                   <img src="{% static 'images/loras.jpeg' %}" title='Finn Jones' height="110" width="110">                   <img src="{% static 'images/lancel.jpeg' %}" title='Eugene Simon' height="110" width="110"></p>




<p align="center" style="color:white;">Jorah Mormont                   Jeor Mormont                   Hodor                   Gendry                   Khal Drogo</p>
<p align="center"><img src="{% static 'images/jorah.jpeg' %}" title='Iain Glen' height="110" width="110">                   <img src="{% static 'images/jeor.jpeg' %}" title='James Cosmo' height="110" width="110">                   <img src="{% static 'images/hodor.jpeg' %}" title='Kristian Nairn' height="110" width="110">                   <img src="{% static 'images/gendry.jpeg' %}" title='Joe Dempsie' height="110" width="110">                   <img src="{% static 'images/drogo.jpeg' %}" title='Jason Momoa' height="110" width="110"></p>




<p align="center" style="color:white;">Bronn                   Benjen Stark                   Barristan Selmy                   Alliser Thorne                    Maester Aemon</p>
<p align="center"><img src="{% static 'images/bronn.jpeg' %}" title='Jerome Flynn' height="110" width="110">                   <img src="{% static 'images/benjen.jpeg' %}" title='Joseph Mawle' height="110" width="110">                   <img src="{% static 'images/barristan.jpeg' %}" title='Ian Mcelhinney' height="110" width="110">                   <img src="{% static 'images/alliser.jpeg' %}" title='Owen Teale' height="110" width="110">                   <img src="{% static 'images/aemon.jpeg' %}" title='Peter Vaughan' height="110" width="110">
</p>


<hr>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 2'>SEASON  2<hr></p></h2>




<p align="center" style="color:white;">Gilly                   Podrick                   Lady Melisandre                   Yara Greyjoy                   Jaqen H'ghar</p>
<p align="center"><img src="{% static 'images/gilly.jpeg' %}" title='Hannah Murray
' height="110" width="110">                   <img src="{% static 'images/podrick.jpeg' %}" title='Daniel Portman' height="110" width="110">                   <img src="{% static 'images/melisandre.jpeg' %}" title='Carice van Houten' height="110" width="110">                   <img src="{% static 'images/yara.jpeg' %}" title='Gemma Whelan' height="110" width="110">                   <img src="{% static 'images/jaqen.jpeg' %}" title='Tom Wlaschiha' height="110" width="110"></p>




<p align="center" style="color:white;">Talisa                   Brienne of Tarth                   Davos Seaworth                   Tywin Lannister                   Stannis Baratheon</p>
<p align="center"><img src="{% static 'images/talisa.jpeg' %}" title='Oona Chaplin
' height="110" width="110">                   <img src="{% static 'images/brienne.jpeg' %}" title='Gwendoline Christie
' height="110" width="110">                   <img src="{% static 'images/davos.jpeg' %}" title='Liam Cunningham
' height="110" width="110">                   <img src="{% static 'images/tywin.jpeg' %}" title='Charles Dance' height="110" width="110">                   <img src="{% static 'images/stannis.jpeg' %}" title='Stephen Dillane' height="110" width="110"></p>




<p align="center" style="color:white;">Margaery Tyrell                   Ygritte                   Balon Greyjoy                   Roose Bolton</p>
<p align="center"><img src="{% static 'images/margaery.jpeg' %}" title='Natalie Dormer' height="110" width="110">                   <img src="{% static 'images/ygritte.jpeg' %}" title='Rose Leslie' height="110" width="110">                   <img src="{% static 'images/balon.jpeg' %}" title='Patrick Malahide' height="110" width="110">                   <img src="{% static 'images/roose.jpeg' %}" title='Michael McElhatton' height="110" width="110"> </p>


<hr>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 3'>SEASON  3<hr></p></h2>




<p align="center" style="color:white;">Grey Worm                   Beric Dondarrion                   Missandei                   Mance Rayder                   Tormund</p>
<p align="center"><img src="{% static 'images/grey.jpeg' %}" title='Jacob Anderson
' height="110" width="110">                   <img src="{% static 'images/beric.jpeg' %}" title='Richard Dormer
' height="110" width="110">                   <img src="{% static 'images/missandei.jpeg' %}" title='Nathalie Emmanuel' height="110" width="110">                   <img src="{% static 'images/mance.jpeg' %}" title='Ciaran Hinds' height="110" width="110">                   <img src="{% static 'images/tormund.jpeg' %}" title='Kristofer Hivju
' height="110" width="110"></p>
                                                                                                                                    
 
 

<p align="center" style="color:white;">Olenna Tyrell                   Thoros of Myr                   Orell                   Qyburn                   Brynden Tully</p>
<p align="center"><img src="{% static 'images/olenna.jpeg' %}" title='Diana Rigg' height="110" width="110">                   <img src="{% static 'images/myr.jpeg' %}" title='Paul Kaye' height="110" width="110">                   <img src="{% static 'images/orell.jpeg' %}" title='Mackenzie Crook' height="110" width="110">                   <img src="{% static 'images/qyburn.jpeg' %}" title='Anton Lesser' height="110" width="110">                   <img src="{% static 'images/tully.jpeg' %}" title='Clive Russell' height="110" width="110"></p>




<p align="center" style="color:white;">Ramsay Snow</p>
<p align="center"><img src="{% static 'images/ramsay.jpeg' %}" title='Iwan Rheon
' height="110" width="110"> </p>


<hr>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 4'>SEASON  4<hr></p></h2>




<p align="center" style="color:white;">Tommen Baratheon                   Daario Naharis                   Oberyn Martell                   Ellaria Sand</p>
<p align="center"><img src="{% static 'images/tommen.jpeg' %}" title='Dean-charles Chapman' height="110" width="110">                   <img src="{% static 'images/daario.jpeg' %}" title='Michiel Huisman' height="110" width="110">                   <img src="{% static 'images/oberyn.jpeg' %}" title='Pedro Pascal' height="110" width="110">                   <img src="{% static 'images/ellaria.jpeg' %}" title='Indira Varma' height="110" width="110"> </p>


<hr>                  




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 5'>SEASON  5<hr></p></h2>




<p align="center" style="color:white;">Myrcella Baratheon                   Obara Sand                   Nym Sand                   Tyene Sand                   High Sparrow</p>
<p align="center"><img src="{% static 'images/myrcella.jpeg' %}" title='Nell Tiger Free' height="110" width="110">                   <img src="{% static 'images/obara.jpeg' %}" title='Keisha Castle-Hughes' height="110" width="110">                   <img src="{% static 'images/nym.jpeg' %}" title='Jessica Henwick' height="110" width="110">                   <img src="{% static 'images/tyene.jpeg' %}" title='Rosabell Laurenti Sellers' height="110" width="110">                   <img src="{% static 'images/high.jpeg' %}" title='Jonathan Pryce' height="110" width="110"></p>




<p align="center" style="color:white;">Trystane Martell                   Doran Martell</p>
<p align="center"><img src="{% static 'images/trystane.jpeg' %}" title='Toby Sebastian' height="110" width="110">                   <img src="{% static 'images/doran.jpeg' %}" title='Alexander Siddig' height="110" width="110"> </p>


<hr>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 6'>SEASON  6<hr></p></h2>




<p align="center" style="color:white;">Euron Greyjoy                   Lady Crane                   High Priestess                   Randyll Tarly                   Izembaro</p>
<p align="center"><img src="{% static 'images/euron.jpeg' %}" title='Pilou Esbaek' height="110" width="110">                   <img src="{% static 'images/lady.jpeg' %}" title='Essie Davis' height="110" width="110">                   <img src="{% static 'images/highp.jpeg' %}" title='Souad Faress' height="110" width="110">                   <img src="{% static 'images/randyll.jpeg' %}" title='James Faulkner' height="110" width="110">                   <img src="{% static 'images/izem.jpeg' %}" title='Richard E. Grant' height="110" width="110"></p>




<p align="center" style="color:white;">Brother Ray</p>
<p align="center"><img src="{% static 'images/ray.jpeg' %}" title='Ian McShane' height="110" width="110"> </p>


<hr>




<h2><p align="center" style="color:white; font-family:vardana;" id='SEASON 7'>SEASON  7<hr></p></h2>




<p align="center" style="color:white;">Archmaester Ebrose</p>
<p align="center"><img src="{% static 'images/arch.jpeg' %}" title='Jim Broadbent' height="110" width="110"> </p>


<hr>





<p align="center" id="CREW"><b>CREW</b></p><hr>





<div style="color:white; font-family:vardana; font-size:17px;"><b>SEASON  1                                                                SEASON  2                                                              SEASON  3                                                              SEASON  4</b></div>


<div style="color:white;">
<b>DAVID BENIOFF                                     <b>DAVID BENIOFF</b></b>                                    <b>DAVID BENIOFF</b>                                    <b>DAVID BENIOFF</b>
Executive Producer                                Executive Producer                               Executive Producer                               Executive Producer

<b>D.B. WEISS</b>                                        <b>D.B. WEISS</b>                                       <b>D.B. WEISS</b>                                       <b>D.B. WEISS</b>
Executive Producer                                Executive Producer                               Executive Producer                               Executive Producer

<b>CAROLYN STRAUSS</b>                                   <b>CAROLYN STRAUSS</b>                                  <b>CAROLYN STRAUSS</b>                                  <b>CAROLYN STRAUSS</b>
Co-Executive Producer                             Executive Producer                               Executive Producer                               Executive Producer

<b>GUYMON CASADY</b>                                     <b>FRANK DOELGER</b>                                    <b>FRANK DOELGER</b>                                    <b>FRANK DOELGER</b>
Co-Executive Producer                             Executive Producer                               Executive Producer                               Executive Producer

<b>VINCE GERARDIS</b>                                    <b>GEORGE R.R. MARTIN</b>                               <b>BERNADETTE CAULFIELD</b>                             <b>BERNADETTE CAULFIELD</b>                                    
Co-Executive Producer                             Co-Executive Producer                            Executive producer                               Executive Producer                             

<b>RALPH VICINANZA</b>                                   <b>VANESSA TAYLOR</b>                                   <b>GUYMON CASADY</b>                                    <b>GUYMON CASADY</b>
Co-Executive Producer                             Co-Executive Producer                            Co-Executive Producer                            Co-Executive Producer

<b>GEORGE R.R. MARTIN</b>                                <b>ALAN TAYLOR</b>                                      <b>VINCE GERARDIS</b>                                   <b>VINCE GERARDIS</b>
Co-Executive Producer                             Co-Executive Producer                            Co-Executive Producer                            Co-Executive Producer                            

<b>MARK HUFFAM</b>                                       <b>GUYMON CASADY</b>                                    <b>CHRIS NEWMAN</b>                                     <b>GEORGE R.R. MARTIN</b>
Producer                                          Co-Executive Producer                            Producer                                         Co-Executive Producer

<b>FRANK DOELGER</b>                                     <b>VINCE GERARDIS</b>                                   <b>GREG SPENCE</b>                                      <b>VANESSA TAYLOR</b>
Producer                                          Co-Executive Producer                            Producer                                         Co-Executive Producer

                                                  <b>BERNADETTE CAULFIELD</b>                                                                              <b>CHRIS NEWMAN</b>
                                                  Producer                                                                                          Producer

                                                                                                                                                    <b>GREG SPENCE</b>
                                                                                                                                                    Producer

                                                                                                                                                    
</div>

</pre>
</body>
</html>