{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Game of Thrones</title>
	<style type="text/css">

		body
		{
			background-image: url("{% static 'images/got.jpg' %}");
			background-repeat: no-repeat;
			background-size: 100%;
			background-attachment: fixed;
		
		}

		img
		{
			border:3px solid black;
		}


		#d1 
    	{
      		font-family:vardana;
      		font-size:17px;   
      		word-spacing:4px;
      		white-space: pre;
  			 
    	}

		a:hover
		{
			color:red;
		}
	
	</style>
</head>
<body>
<pre>
<p align="right" style="font-family:vardana;"><a href="/htmlpro/home"><b>Home</b></a> </p>
<p align="center"><img src="{% static 'images/titlegot.jpg' %}" height="150" width="800"></p> 
<p align='center' style="font-family:vardana;">8 Seasons  |  73 Episodes  |  Drama  |  18+  |  English  |  HBO Originals



<a href='#'><b>ABOUT</b></a>          <b>SEASONS: </b><select>
														<option>--Select--</option>     
														<optgroup label='Season 1'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 2'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 3'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 4'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 5'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 6'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
															<option>Episode 8</option>
															<option>Episode 9</option>
															<option>Episode 10</option>
														</optgroup>
														<optgroup label='Season 7'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
															<option>Episode 7</option>
														</optgroup>
														<optgroup label='Season 8'>
															<option>Episode 1</option>
															<option>Episode 2</option>
															<option>Episode 3</option>
															<option>Episode 4</option>
															<option>Episode 5</option>
															<option>Episode 6</option>
														</optgroup>
														</select>          <a href="/htmlpro/cast"><b>CAST & CREW</b></a>


<!--<img src='images/got.jpg' title='Game of Thrones: Poster' height="1920" width="1440" /> </p>-->



















<div id="d1"><b><i>Game of Thrones</i></b> is an American <b>fantasy drama television series</b> created by <b>David Benioff</b> and <b>D. B. Weiss</b> for HBO. It is an adaptation of <b>A Song of Ice and Fire</b>, George R. R. Martin's 
series of fantasy novels, the first of which is A Game of Thrones. The show was both produced and filmed in Belfast and elsewhere in the United Kingdom. Filming locations also included 
Canada, Croatia, Iceland, Malta, Morocco, and Spain. The series premiered on HBO in the United States on April 17, 2011, and concluded on May 19, 2019, with 73 episodes broadcast over 
eight seasons.

Set on the fictional continents of <b>Westeros and Essos</b>, Game of Thrones has several plots and a large ensemble cast and follows several story arcs. One arc is about the <b>Iron Throne</b> of the
<b>Seven Kingdoms</b> and follows a web of alliances and conflicts among the noble dynasties either vying to claim the throne or fighting for independence from it. Another focuses on the last
descendant of the realm's deposed ruling dynasty, who has been exiled and is plotting a return to the throne, while another story arc follows the Night's Watch, a brotherhood defending
the realm against the fierce peoples and legendary creatures of the North.

Game of Thrones attracted a record viewership on HBO and has a broad, active, and international fan base. It was acclaimed by critics for its acting, complex characters, story, scope, and
production values, although its frequent use of nudity and violence (including sexual violence) were criticized. The series received 47 Primetime Emmy Awards, the most by a drama series,
including Outstanding Drama Series in 2015, 2016, and 2018. Its other awards and nominations include three <b>Hugo Awards</b>for Best Dramatic Presentation (2012–2014), a 2011 Peabody Award, 
and five nominations for the <b>Golden Globe Award</b> for <b>Best Television Series – Drama (2012 and 2015–2018)</b>.

Of the ensemble cast, <b>Peter Dinklage</b> has won three <b>Primetime Emmy Awards</b> for Outstanding Supporting Actor in a Drama Series (2011, 2015 and 2018) and the Golden Globe Award for Best 
Supporting Actor – Series, Miniseries or Television Film (2012) for his performance as Tyrion Lannister. <b>Lena Headey, Emilia Clarke, Kit Harington, Maisie Williams, Nikolaj Coster-Waldau,
Diana Rigg, and Max von Sydow</b> have also received <b>Primetime Emmy Award</b> nominations for their performances.
</div>


<hr>



<marquee><b><mark style="font-family:vardana; font-size:17px;">NOW STREAMING SEASON 8 EPISODE 4 ONLY ON HOTSTAR!</mark></b></marquee>


<p align="center" style="font-family:vardana; font-size:17px;"><a href="abc.html"><b>DOWNLOAD</b></a>                                                                             <a href="123.html"><b>PLAY  ONLINE</b></a></p>

</pre>
</body>
</html>