{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<style type="text/css">
		a:hover
		{
			color:red;
		}
	</style>
</head>
<body>
<p align="right" style="font-family:vardana;"><a href="/htmlpro/home"><b>Home</b></a> </p>
<p align="right" style="font-family:vardana;"><b>New account?</b> <a href="/htmlpro/signup"><b>Sign Up</b></a> </p>
<h2><p style="font-family:vardana;">LOG IN:</p></h2>
<p style="font-family:vardana;"><b>to Cineworld</b></p>	
<form>
<fieldset>
<legend><h1><p style="font-family:vardana;">LOG IN</p></h1></legend>
<p style="font-family:vardana;"><b>E-MAIL:</b>            <input type="email" name="email" size='40'>
<br><br>
<b>PASSWORD:</b>    <input type="password" name="pwd" size='40'></p>
</fieldset>
<p align="center" style="font-family:vardana;"><a href=#><b>Forgot  Password?</b></a></p>
</form>
</body>
</html>