{% load static %}

<!doctype html>
<html lang="en">
 <head>
 	
  <title>Swades</title>

  <style type="text/css">

  	body
		{
			background-image: url("{% static 'images/swadesbg.jpg' %}");
			background-repeat: no-repeat;
			background-size:100%;
			background-attachment:scroll;
      background-color:powderblue;
		}

    #d1 
    {
      font-family:vardana;
      font-size:17px;   
      word-spacing:4px; 
    }

    #d2 
    {
      font-family:vardana;
      font-size:17px;   
      word-spacing:4px; 
    }
  	
    #p1
  	{
  		font-size:37px;
      font-family: vardana;
  	}

  	#p2
  	{
  		font-size:15px;
  		font-style:italic;
      font-family: vardana;
  	}

    a:visited
    {
      color:white;
    }

    a:hover
    {
      color:skyblue;
    }

  </style>
 </head>
 <body>
 <pre>


<p align="right" style="font-family: vardana;"><a href="/htmlpro/home"><b>Home</b></a></p>
 <!--<p align="center" id="p1"><b>SWADES</b></p>
<p align="center" id="p2"><b>We,  the  people</b></p>-->



<p align="center" style="font-family:vardana; color:white;">2004  |  Drama/Music  |  3h 15m  |  Bollywood Films



<a href="#PLOT"><b>PLOT</b></a>            <a href="#RECEPTION"><b>RECEPTION</b></a>            <a href='#AWARDS'><b>AWARDS</b></a> 
</p>
   
	














































<p align="center" style="font-size:17px; font-family:vardana;"><b>A  successful  Indian  scientist  returns  to  an  Indian  village  to  take  his  nanny  to  America  with  him  and  in  the  process  rediscovers  his  roots.</b></p> 
    



<p align="center" id="i"><img src="{% static 'images/Swades.jpg' %}" height='318' width='200' title='Swades: Original Poster'/></p>







<p align="center" id='v'><iframe width="875" height="480" src="https://www.youtube.com/embed/vc7AZNWvs0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  

 
 




<table border="2" style="border-color:black; border-style:solid;" cellpadding="15" cellspacing="5" bgcolor="powderblue" align="center">
  <tbody>
    <tr>  <td style="font-size:17px; font-family:vardana;"><b>Directed By</b></td>
          <td style="font-size:17px; font-family:vardana;">Ashutosh Gowariker</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;" rowspan="2"><b>Produced By</b></td>
          <td style="font-size:17px; font-family:vardana;">Ashutosh Gowariker</td>
    <tr>
         <td style="font-size:17px; font-family:vardana;">Ronnie Screwvala</td>
    </tr>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;" rowspan="2"><b>Written By</b></td>
          <td style="font-size:17px; font-family:vardana;">Ashutosh Gowariker</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana;">M.G. Sathya</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;" rowspan="3"><b>Screenplay By</b></td>
          <td style="font-size:17px; font-family:vardana;">Ashutosh Gowariker</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana;">Sameer Sharma</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana;">Amin Hajee</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;" rowspan="3"><b>Starring</b></td>
          <td style="font-size:17px; font-family:vardana;">Shah Rukh Khan</td>
    </tr> 
    <tr>
         <td style="font-size:17px; font-family:vardana;">Gayatri Joshi</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana;">Kishori Ballal</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;"><b>Music By</b></td>
          <td style="font-size:17px; font-family:vardana;">A.R. Rahman</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;"><b>Production House</b></td>
          <td style="font-size:17px; font-family:vardana;">Ashutosh Gowariker Productions</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;"><b>Release Date</b></td>
          <td style="font-size:17px; font-family:vardana;">17 December 2004</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;"><b>Budget</b></td>
          <td style="font-size:17px; font-family:vardana;">US$ 3 million</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana;"><b>Box Office</b></td>
          <td style="font-size:17px; font-family:vardana;">US$ 4.9 million</td>
    </tr>
  </tbody>
</table>

	


<h2><p id='PLOT' style="font-family:vardana;">PLOT</p></h2>
<div id='d1'>
Mohan Bhargava <b>(Shah Rukh Khan)</b> is an Indian who works as a Project Manager on the Global Precipitation Measurement (GPM) program at NASA in the United States. He 
keeps worrying about Kaveri Amma <b>(Kishori Ballal)</b>, a nanny at his home in Uttar Pradesh who looked after him during his childhood days. After his parents’ death, Kaveri 
Amma went to live in an old age home in Delhi and lost contact with Mohan. Mohan wishes to go to India and bring Kaveri Amma back with him to the US. He takes a few 
weeks off and travels to India. He goes to the old age home but learns that Kaveri Amma no longer lives there and went to a village named Charanpur a few years ago. Mohan 
then decides to travel to Charanpur, in Uttar Pradesh.
	
Mohan decides to rent a <b>caravan</b> to reach the village fearing that he might not get the required facilities there. Upon reaching Charanpur, he meets Kaveri Amma, and learns how 
his childhood friend Gita <b>(Gayatri Joshi)</b>, after her parents died, brought Kaveri Amma to stay with her. Gita runs a school in Charanpur and works hard to improve the living 
conditions of the villagers through education. However, the village is divided largely by caste and religious beliefs. Gita does not like Mohan’s arrival as she thinks that he will 
take Kaveri Amma back with him to the US, leaving her and her younger brother Chikku alone. Kaveri Amma tells Mohan that she needs to get Gita married first and that it is
her responsibility. Gita believes in women empowerment and gender equality. This attracts Mohan towards Gita and he too tries to help her by campaigning for education among 
backward communities and also girls.
	
Slowly love blossoms between Mohan and Gita. Kaveri Amma asks Mohan to visit a nearby village named Kodi, and collect money from a man named Haridas who owes it to 
Gita. The story gives a journey to Mohan very similar to what happened to Mahatma Gandhi after he came back from South Africa. Mohan visits Kodi and feels pity seeing 
Haridas' poor condition, which is such that he is unable to provide his family with meals every day. Haridas tells Mohan that since his caste profession of a weaver wasn't earning 
him any money, he shifted to tenant farming. But this change in profession led to his ostracization from the village and the villagers even denied him water for his crops. Mohan 
understands the pathetic situation and realises that many villages in India are still like Kodi. He returns to Charanpur with a heavy heart and decides to do something for the 
welfare of Charanpur. 
	
Mohan extends his leave by three more weeks. He learns that electricity inconsistency and frequent power cuts are a big problem in Charanpur. He decides to set up a small 
hydroelectric power generation facility from a nearby water source. Mohan purchases all the equipment needed from his own funds and oversees the building of the power 
generation unit. The unit works and the village gets sufficient, consistent power from it.  
	
However, Mohan is repeatedly called by NASA officials as the NASA project he was working on is reaching important stages and he has to return to the US soon. Kaveri Amma 
tells him that she prefers to stay in Charanpur as it will be difficult for her to adapt to a new country at her age. Gita also tells him that she will not settle down in another 
<b>country</b> and she would prefer it if Mohan stayed in India with her. Mohan returns to the US with a heavy heart to complete the project. However, in the US, he has flashbacks 
of his time in India and wishes to return. After the successful completion of his project, he leaves the US and returns to India with intentions of working at the <b>Vikram Sarabhai 
Space Center</b>, from where he can also work with NASA. The movie ends showing Mohan staying in the village and wrestling near a <b>temple</b>.
</div>

<div id='d2'>	
<h2><p id='RECEPTION'>RECEPTION</p></h2>
<h4>CRITICAL RECEPTION</h4> 
The film received overwhelmingly strong acclaim from critics. <i>Swades</i> went on to become a cult classic and Khan's performance as Mohan Bhargava is considered one of his best 
to date. <b>Subhash K. Jha</b> of Indiatimes Movies gave the film 4.5 stars out of 5 and said, "Swades is a unique experiment with grassroots realism. It is so politically correct in its 
propagandist message that initially you wonder if the <b>Government of India</b> funded the director's dream." 

<b>Mayank Shekhar</b> from <b><i>MID DAY</i></b> gave it 4 stars, stating, "I cannot think of a better film for the longest that deserved a stronger recommendation for both touring cinemas of 
India's villages, and plush multiplexes of Mumbai or Manhattan." Jitesh Pillai of the <b><i>Sunday Times of India</i></b> gave the film 4 stars and said "After Lagaan, what? The answer's 
blowing in the wind. Swades. Here's the verdict: This is a gutsy and outstanding film. Welcome back to real, solid film-making." He added, "Swades is undoubtedly the No. 1 
movie of the year." 

Shradha Sukumaran of Mid-Day gave it 3.5 stars and said, "At the end of it, Swades is a far braver film than <b>Lagaan</b>. It could have hit the high note — if it hadn't tried so 
hard." 

Avijit Ghosh wrote in <i><b>The Telegraph</b></i>, "With its gentle humour, the film acts as an entertaining vehicle for social change. And hopefully, it will do more for positive nationalism 
than the Union government's Directorate of Audio Visual Publicity (DAVP) ads ever will." </p>

<h4>BOX OFFICE</h4>
<i>Swades</i> earned 152.5 million (US$2.2 million) net box office in India. In the overseas market, the film made $2,790,000. It had a lifetime worldwide gross of 342.6 million (US$
5.0 million). The film topped the <b>Chennai</b> box office on its opening weekend. The movie was declared a flop domestically and a semi-hit overseas by Box Office India, earning 
34.26 crore worldwide on a budget of 21 crore. 
 
<h4>LEGACY</h4>
It is the first Indian movie to be shot inside <b>NASA's</b> headquarters. It has also become a classic of modern Indian cinema for representing the trope of returning to one's roots 
to make a difference.  
</div>


<h2><p id='AWARDS' style="font-family:vardana;">AWARDS</p></h2>
<ol><li><p style="font-family:vardana;"><b>National Film Awards</b></li></p>
<ul type="square"><li><p style="font-family:vardana;">Best Male Playback Singer - Udit Narayan for <b>"Yeh Taara Woh Taara"</b></li></p>
<li><p style="font-family:vardana;">Best Cinematography - Mahesh Aney</li>
</ul></p>

<li><p style="font-family:vardana;"><b>Filmfare Awards</b></li></p>
<ul type="square"><li><p style="font-family:vardana;">Best Actor - Shahrukh Khan</li></p>
<li><p style="font-family:vardana;">Best Background Score - A.R. Rahman</li></p>
<li><p style="font-family:vardana;">Nominated for Best Male Playback Singer - Master Vignesh & Udit Narayan</li>
</ul></p>

<b><li><p style="font-family:vardana;">Global Indian Film Awards</li></b></p>
<ul type="square"><li><p style="font-family:vardana;">Best Actor - Shahrukh Khan</li></p>
<li><p style="font-family:vardana;">Best Newcomer - Gayatri Joshi</li> 
</ul></p>

<li><p style="font-family:vardana;"><b>Zee Cine Awards</b></li></p>
<ul type="square"><li><p style="font-family:vardana;">Best Female Debut - Gayatri Joshi</li></p>
<li><p style="font-family:vardana;">Best Sound Re-recording - Hitendra Ghosh</li></p>
<li><p style="font-family:vardana;">Best Story - Ashutosh Gowariker</li></p>
<li><p style="font-family:vardana;">Best Director (Critics) - Ashutosh Gowariker</li></p> 
</ul>
</ol><hr>



<marquee><b><mark style="font-size:17px; font-family:vardana;">WATCH ONLINE OR DOWNLOAD NOW!</mark></b></marquee>


<p align="center" style="font-family:vardana; font-size:17px;"><a href="abc.html"><b>DOWNLOAD</b></a>                                                                             <a href="123.html"><b>PLAY  ONLINE</b></a></p>                      

	</pre>
 </body>
</html>