{% load static %}

<!doctype html>
<html>
 <head>
    <title>The Dark Knight</title>
    <style type="text/css">

      body
      {
        background-image: url("{% static 'images/tdk1.jpg' %}");
        background-repeat: no-repeat;
        background-size:100%;
        background-attachment:scroll;
        background-color:black;
        color:white;
      }

      #d1 
    {
      font-family:vardana;
      font-size:17px;   
      word-spacing:4px; 
    }

    #d2 
    {
      font-family:vardana;
      font-size:17px;   
      word-spacing:4px; 
    }
    	
    #p1
  	{
  		font-size:37px;
      font-family: vardana;
  	}

    a:visited
    {
      color:white;
    }

  	a:hover
    {
      color:black;
    }
    
    </style>
 </head>
 <body>
<pre>  

<p align="right" style="font-family:vardana;"><a href="/htmlpro/home"><b>Home</b></a> </p>
<p align="center" id="p1"><b>THE  DARK  KNIGHT</b></p>  
<p align="center" style="font-family:vardana; color:white;">2008  |  Drama/Thriller  |  2h 32m  |  Hollywood Films



<a href="#PLOT"><b>PLOT</b></a>             <a href="#RELEASE"><b>RELEASE</b></a>             <a href="#BOX OFFICE"><b>BOX OFFICE</b></a>             <a href="#LEGACY"><b>LEGACY</b></a>
</p>	
	
	






















<p align="center" style="font-family:vardana; font-size:17px;">

<b>When  the  menace  known  as  The  Joker  emerges  from  his  mysterious  past,  he  wreaks  havoc  and  chaos  on  the  people  of  Gotham.  The  Dark  Knight  must  accept  one  of  
the  greatest  psychological and  physical  tests  of  his  ability  to  fight  injustice.</b>
</p>

									        


<p align="center" id='i'><img src="{% static 'images/The Dark Knight.jpg' %}" height='326' width='200' title='The Dark Knight Film: Original Poster'/> 
</p>







<p align="center" id='v'><iframe width="875" height="372" src="https://www.youtube.com/embed/UwrOQ2pYDxY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>









<table border="2" style="border-color:white; border-style:solid;" cellpadding="15" cellspacing="5" align="center" bgcolor="black">
  <tbody>
    <tr>  <td style="font-size:17px; font-family:vardana; color:white;"><b>Directed By</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">Christopher Nolan</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="3"><b>Produced By</b></td>
          <td style="font-size:17px; font-family:vardana;color:white;">Emma Thomas</td>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Charles Roven</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Christopher Nolan</td>
    </tr>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="2"><b>Story By</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">Christopher Nolan</td>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">David S. Goyer</td>
    </tr>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="2"><b>Screenplay By</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">Jonathan Nolan</td>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Christopher Nolan</td>
    </tr>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="4"><b>Starring</b></td>
          <td style="font-size:17px; font-family:vardana;color:white;">Christian Bale</td>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Michael Caine</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Heath Ledger</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Morgan Freeman</td>
    </tr>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="2"><b>Music By</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">Hans Zimmer</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">James Newton Howard</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;" rowspan="3"><b>Production Companies</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">Warner Bros. Pictures</td>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Legendary Pictures</td>
    </tr>
    <tr>
         <td style="font-size:17px; font-family:vardana; color:white;">Syncopy</td>
    </tr>
    <tr>
    	<td style="font-size:17px; font-family:vardana; color:white;"><b>Cinematography</b></td>
    	<td style="font-size:17px; font-family:vardana; color:white;">Wally Pfister</td>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;"><b>Release Date</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">July 14, 2008</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;"><b>Budget</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">US$ 185 million</td>
    </tr>
    <tr>
          <td style="font-size:17px; font-family:vardana; color:white;"><b>Box Office</b></td>
          <td style="font-size:17px; font-family:vardana; color:white;">US$ 1.005 billion</td>
    </tr>
  </tbody>
</table>




<h2><p id='PLOT' style="font-family:vardana;">PLOT</p></h2>
<div id="d1">
A gang of criminals rob a <b>Gotham City</b> mob bank, murdering each other for a higher share of the money until only the <b>Joker</b> remains, who escapes with the money. <b>Batman</b>, 
District Attorney <b>Harvey Dent</b> and Lieutenant <b>Jim Gordon</b> form an alliance to rid Gotham City of organized crime. Bruce Wayne believes that with Dent as Gotham's protector, 
he can retire from being Batman and lead a normal life with <b>Rachel Dawes</b> - even though she and Dent are dating.

Mob bosses <b>Sal Maroni</b>, Gambol, and the Chechen hold a video conference with their corrupt accountant, Lau, who has taken their funds for safekeeping and fled to <b>Hong Kong</b>. 
The Joker interrupts the meeting to warn them that Batman is unhindered by the law, and offers to kill him in exchange for half of their money. The mob bosses disagree, and 
Gambol places a bounty on the Joker. The Joker finds and kills Gambol, taking over his gang. The mob decides to take the Joker up on his offer.

Batman finds Lau in Hong Kong and brings him back to Gotham to testify, allowing Dent to apprehend the entire mob. The Joker threatens to kill people unless Batman reveals 
his identity, and starts by murdering Police Commissioner <b>Gillian B. Loeb</b> and the judge presiding over the mob trial. The Joker also tries to kill Mayor Anthony Garcia, but 
Gordon sacrifices himself to stop the assassination. Dent kidnaps one of Joker’s henchmen and threatens him with a seemingly deadly game of heads or tails using Dent's lucky 
coin; in fact, Dent's coin has heads on both sides. Dent learns that Rachel is Joker's next target.

Bruce decides to reveal his secret identity to prevent more deaths. Before he can, however, Dent falsely announces that he is Batman. Dent is taken into protective custody, but the 
Joker appears and attacks the convoy. Batman comes to Dent's rescue and Gordon, who faked his death, apprehends the Joker, securing a promotion to Commissioner. Rachel and 
Dent are escorted away by detectives on Maroni's payroll; Gordon later learns that they never arrived home. Batman interrogates the Joker, who reveals that they have been trapped 
in separate locations rigged with explosives and that Batman must choose one to save. Batman races to save Rachel, while Gordon attempts to rescue Dent. Batman arrives at the 
building, but realizes that the Joker has sent him to Dent's location instead. Both buildings explode, killing Rachel and disfiguring Dent. The Joker escapes with Lau, who leads 
him to the Mob's funds. The Joker burns the money and kills Lau and the Chechen.

Coleman Reese, an accountant at <b>Wayne Enterprises</b>, deduces that Bruce is Batman and threatens to publicize the information. Not wanting Reese's revelation to interfere with his 
plans, the Joker threatens to destroy a hospital unless Reese is killed within an hour. All hospitals are evacuated and Gordon travels to secure Reese. The Joker, disguised as a 
hospital nurse, discovers Dent's ward and hands him a gun, convincing him to seek revenge for Rachel's death. The Joker destroys the hospital and escapes with a busload of 
hostages. Dent goes on a killing spree, deciding the fates of people he holds responsible for Rachel's death by flipping his lucky coin, one face of which was corroded in the 
explosion. Dent eventually apprehends Gordon's family, believing Gordon's love for his family parallels his love for Rachel.

After announcing that Gotham City will be subject to his rule by nightfall, the Joker rigs two evacuating ferries with explosives; one carrying civilians and the other prisoners. 
The passengers have been supplied with a trigger to the other boat's explosives, and the Joker announces through an intercom that he will blow both ferries if one of them has 
not been destroyed by midnight. Batman finds the Joker by using a sonar device that spies on the entire city, with the reluctant help of <b>Lucius Fox</b>. The civilians and the 
prisoners refuse to kill each other, while Batman apprehends the Joker after a fight. Before the police arrive to take the Joker into custody, he gloats that Gotham's citizens will 
lose hope once Dent's rampage becomes public knowledge.

Gordon and Batman arrive at the building where Rachel died and find Dent threatening to kill Gordon's family. Dent again flips his coin and shoots Batman, spares himself, and 
aims to kill Gordon's son, claiming that Gordon's negligence is responsible for Rachel's death. Batman, who was wearing body armor, tackles Dent off the building to his death. 
Batman persuades Gordon to let him take responsibility for the killing spree to preserve Dent's heroic image. As the police launch a manhunt for Batman, Gordon destroys the 
<b>Bat-signal</b>, Fox watches as the sonar device self-destructs, and <b>Alfred</b> burns a letter from Rachel saying she plans to marry Dent.
</div>

<div id='d2'>
<h2><p id='RELEASE'>RELEASE</p></h2> 
Warner Bros. held the world premiere for The Dark Knight in <b>New York City</b> on July 14, 2008, screening in an IMAX theater with the film's composers <b>James Newton Howard</b> 
and <b>Hans Zimmer</b> playing a part of the film score live. Leading up to The Dark Knight's commercial release, the film had drawn "overwhelmingly positive early reviews and 
buzz on Heath Ledger's turn as the Joker". The Dark Knight was commercially released on July 16, 2008 in Australia, grossing almost $2.3 million in its first day.

In the United States and Canada, The Dark Knight was distributed to 4,366 theaters, breaking the previous record for the highest number of theaters held by <b><i>Pirates of the 
Caribbean: At World's End</i></b> in 2007. The number of theaters also included 94 IMAX theaters, with the film estimated to be played on 9,200 screens in the United States and 
Canada. Online, ticketing services sold enormous numbers of tickets for approximately 3,000 midnight showtimes as well as unusually early showtimes for the film's opening day. 
All IMAX theaters showing The Dark Knight were sold out for the opening weekend. The Dark Knight was re-released in IMAX for its 10th anniversary for a week starting on 
August 24, 2018. It played at the <b>AMC IMAX theaters in Universal CityWalk, Lincoln Square, Manhattan</b>, and <b>Metreon</b>, as well as the <b>Ontario Place Cinesphere</b>.
 
 
 <h2><p id='BOX OFFICE'>BOX OFFICE</p></h2>
 <b><i>The Dark Knight</i></b> earned $534.9 million in North America and $469.7 million in other territories for a worldwide total of $1 billion. Worldwide, it is the <b>39th highest-grossing 
 film</b>, the <b>highest-grossing film of 2008</b>, and the fourth film in history to gross more than $1 billion. It made $199.7 million on its worldwide opening weekend, which ranks 34th 
 on the all-time chart. <b>Box Office Mojo</b> estimates that the film sold over 74.26 million tickets in the US in its initial theatrical run.

 In order to increase the film's chances of crossing $1 billion in worldwide gross and of winning Oscars, Warner Bros. re-released the film in traditional and IMAX theaters in the 
 United States and other countries on January 23, 2009. Before the re-release, the film's gross remained at $997 million, but following the re-release, the film crossed the $1 
 billion-mark in February 2009.
 
 <h2><p id='LEGACY'>LEGACY</p></h2>
 According to David Sims of <b>The Atlantic</b>, The Dark Knight "legitimized" the genre of the <b>comic book</b> movie in the eyes of film studios, thereby setting the stage for the success 
 of franchises such as the <b>Marvel Cinematic Universe</b>. Darren Franrich of Entertainment Weekly wrote that the film "cemented a new way of talking about superhero movies," 
 specifically one that acknowledged them as serious vehicles for political commentary and artistic achievement.
 
 Multiple elements of The Dark Knight had a profound influence on a number of subsequent motion pictures. For example, director Ryan Coogler cited The Dark Knight's depiction 
 of Gotham City as a partial inspiration for the representation of Wakanda in the 2018 blockbuster <b>Black Panther</b>. Meanwhile, Michael B. Jordan named Ledger's performance as 
 an influence for the former's portrayal of Killmonger, the villain in Black Panther. Director Sam Mendes called The Dark Knight a "game changer for everybody," saying that it 
 influenced his approach to making Skyfall (2012): "What Nolan proved was that you can make a huge movie that is thrilling and entertaining and has a lot to say about the world 
 we live in ... That did help give me the confidence to take this movie in directions that, without The Dark Knight, might not have been possible." Composer Blake Neely's music 
 for the TV show Arrow likewise drew upon Hans Zimmer's score for The Dark Knight. Furthermore, in a tenth anniversary retrospective for Rotten Tomatoes, Erik Amaya credited 
 Ledger's performance with providing a novel interpretation of the Joker for the general public, one that proved to be a template for later cinematic portrayals.
 
 Several critics have noted that later films imitated The Dark Knight's dark and gritty tone without replicating the quality of its writing, acting, or plot structure. According to 
 Charles Bramesco of The Guardian, many of the movies in the <b>DC Extended Universe</b> – such as <b>Batman v Superman: Dawn of Justice</b>, <b>Suicide Squad</b>, and <b>Justice League</b> 
 – "affected a joylessness bastardized from Nolan’s well-founded solemnity." Chris Newbould of The National reached a similar conclusion, bemoaning how DCEU films "have 
 failed to excite audiences and critics alike and have performed passably at best at the box office." Nick Pope of Esquire accused The Dark Knight of encouraging future superhero 
films "to take [themselves] far too seriously."</div>


 <hr>



 <marquee><b><mark style="font-size:17px; font-family:vardana;">WATCH ONLINE OR DOWNLOAD NOW!</mark></b></marquee>


 <p align="center" style="font-family:vardana; font-size:17px;"><a href="abc.html"><b>DOWNLOAD</b></a>                                                                             <a href="123.html"><b>PLAY  ONLINE</b></a></p>
 
 </pre>
 </body>
</html>